
.head{
    width: 99dvw;
    height: 5.5vw;
    /* border: 2px solid black; */
    background-color: #014880;
    background-image: url('bandemo.webp');
    background-repeat: no-repeat;
    background-size: contain;
    
}
.container{
    width: 100%;
    height: 100%;
    /* border: 2px solid; */
    display: flex;
}
.logo,.chinh{
    height: 95%;
    width: 15%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #014880;
    a{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a img{
        height: 90%;
        width: 40%;
    }
}
.title{
    height: 100%;
    width: 70%;
    /* border: 2px solid darkblue; */
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logbox{
    display: flex;
    flex-direction: column;
    height:fit-content;
    width: 60dvw;
    /* border: 2px solid red; */
    gap: 2%;
}
.lo1{
    width: 100%;
    height: 40%;
    /* border: 1px solid ; */
    display: flex;
}
.lo2{
    width: 100%;
    height: 50%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
   .lon1{
    display: flex;
    justify-content: space-between;
   
    /* border: 2px solid; */
    }
    background-color: #DDEEFF;
    margin-bottom: 5px;
}
.lo3{
    width: 100%;
    height: 5%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    a{
        margin-left: 20px;
    }
    background-color: #EEEEFF;
}
.lon1,.lon2{
    span{
        font-weight: 900;
    }
}

.regist1{
    width: 45%;
    height: 100%;
    /* border: 2px solid; */
    a{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: end;
    }
    a img{
        height: 7vw;
        width: 12vw;
    }
    display: flex;
    justify-content: end;
}
.regist2{
    width: 50%;
    height: 90%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 7vw;
        width: 7vw;
    }
}
.regist3{
    width: 15%;
    height: 100%;
    /* border: 2px solid yellow; */
    a img{
        height: 95%;
        width: 95%;
    }
}
